body {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: rgb(24, 90, 177);
    color: rgb(20, 158, 250);
    img {
	width: 200px;
    }

}
